html, body{
    padding:0;
    margin:0;
}
body{
    background-color:#84746d;
}
.fr{
    float:right;
}
.fl{
    float:left;
}

.header{
    padding:10px 10px 0;
    height:40px;
    background-color: rgba(255, 94, 23, 1);
    color:white;
}

.header .nav a{
    width: 30px;
    height:30px;
    display: inline-block;
}
.header .logo{
    background: url('../img/logo_t.png') no-repeat;
    background-size: 30px;
}
.main-content{
    background-color: white;
    width:1150px;
    margin: 0 auto;
}


div#test{
    padding: 12px;
}
div#test:after{
    content:"";
    display: table;
    clear: both;
}

.btn{
    text-transform: capitalize;
    text-align: center;
    display: inline-block;
    background-color: rgba(255, 94, 23, 1);
    padding:5px;
    margin: 10px;
    width:100px;
    font-weight: bold;
    color:white;
    cursor: pointer;
}
#search{
    position: relative;

}
#search input{
    width:190px;
    padding:5px;
}
#search .dialog{
    z-index: 2;
    display: none;
    position: absolute;
    width: 200px;
    height:300px;
    background-color:white;
    border:1px solid black;
    overflow-x: hidden;
    overflow-y: scroll;
    color:black;
}
#search .dialog.show{
    display: block;
}

.searchMovie a{
    display: block;
    text-decoration: none;
   color:black;
    font-size:16px;
    padding:5px;
    transition: all 0.3s;
}
.searchMovie a:hover{
    background-color: rgba(80,65,50,0.5);
    transition: all 0.3s;
    color:black;
    font-size:16px;
    padding:5px;
}